src/cc/mallet/util/resources/wn/jwnl_properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated from d:\projects\jwnl\test\jwnl_properties.dtd-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--<!ELEMENT jwnl_properties (dictionary,version,dictionary_element_factory,resource*)>-->
    <xsd:element name="jwnl_properties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="dictionary"/>
                <xsd:element ref="version"/>
                <xsd:element ref="dictionary_element_factory"/>
                <xsd:element ref="resource" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence><!--<!ATTLIST jwnl_properties language CDATA #IMPLIED>-->
            <xsd:attribute name="language">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="country">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--<!ELEMENT dictionary (param*)>-->
    <xsd:element name="dictionary">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice><!--<!ATTLIST dictionary class CDATA #IMPLIED>-->
            <xsd:attribute name="class_name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--<!ELEMENT param (param*)>-->
    <xsd:element name="param">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice><!--<!ATTLIST param name CDATA #IMPLIED>-->
            <xsd:attribute name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="value">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--<!ELEMENT version EMPTY>-->
    <xsd:element name="version">
        <xsd:complexType><!--<!ATTLIST version publisher CDATA #IMPLIED>-->
            <xsd:attribute name="publisher">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="number">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:double"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="language">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="country">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--<!ELEMENT dictionary_element_factory (param*)>-->
    <xsd:element name="dictionary_element_factory">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice><!--<!ATTLIST dictionary_element_factory class CDATA #IMPLIED>-->
            <xsd:attribute name="class_name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

  <!--<!ELEMENT resource EMPTY>-->
    <xsd:element name="resource">
        <xsd:complexType><!--<!ATTLIST resource class CDATA #IMPLIED>-->
            <xsd:attribute name="class_name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>